.table_header
    background-color: var(--primary-color)
    max-height: 10px

    .table_row
        border-spacing: 0px
        align-items: center
        .table_header_cell
            padding-left: 2rem  
            padding-top: .4rem
            padding-bottom: .4rem
            .table_header_text        
                text-align: start
                font-weight: 600
                margin: 0px
                color: #fff
        .status
            width: 12%