.select
    border-radius: 12px
    background-color: var(--white)
    border-width: 2px
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3)
    border-color: transparent
    border-style: solid
    width: 70%

    /* Smaller devides (624px and down) */
    @media only screen and (max-width: 40em)
        padding: .1rem
        font-size: 10px
    /* Small devices such as large phones (640px and up) */
    @media only screen and (min-width: 40em)
        padding: .2rem
        font-size: 12px
    /* Medium devices such as tablets (768px and up) */
    @media only screen and (min-width: 48em)
        padding: .3rem
        font-size: 14px
    /* Large devices such as laptops (1024px and up) */
    @media only screen and (min-width: 64em)    
        padding: .4rem
        font-size: 16px
    /* Largest devices such as desktops (1280px and up) */
    @media only screen and (min-width: 80em)
        padding: .5rem
        font-size: 18px