/* globals.css */

:root {
  --primary-color: #2068AC;
  --primary-color-100: #3a87ce;
  --danger-color: #A00000;
  --ok-color: #00A247;
  --warning-color: #997B00;
  --green-300: #4C956C;
  --green-500: #00662d;
  --font-family: "Merriweather Sans", sans-serif;
}

html {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-family);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-family);
}

* {
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
}