.modal_overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    display: flex
    justify-content: center
    align-items: center
    z-index: 2
    .modal
        background-color: #fff
        border-radius: 8px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
        .modal_content 
            .modal_header
                background-color: #f0f0f0
                border-radius: 8px 8px 0 0
                padding: 1rem
                .modal_title
                    padding: 0px
                    margin: 0px
                    text-align: center
                    /* Smaller devides (624px and down) */
                    @media only screen and (max-width: 40em)
                        font-size: 24px
                    /* Small devices such as large phones (640px and up) */
                    @media only screen and (min-width: 40em)
                        font-size: 28px
                    /* Medium devices such as tablets (768px and up) */
                    @media only screen and (min-width: 48em)
                        font-size: 32px
                    /* Large devices such as laptops (1024px and up) */
                    @media only screen and (min-width: 64em)
                        font-size: 36px
                    /* Largest devices such as desktops (1280px and up) */
                    @media only screen and (min-width: 80em)
                        font-size: 40px
            .modal_content
                padding: 1rem
                .modal_text
                    /* Smaller devides (624px and down) */
                    @media only screen and (max-width: 40em)
                        font-size: 14px
                    /* Small devices such as large phones (640px and up) */
                    @media only screen and (min-width: 40em)
                        font-size: 17px
                    /* Medium devices such as tablets (768px and up) */
                    @media only screen and (min-width: 48em)
                        font-size: 20px
                    /* Large devices such as laptops (1024px and up) */
                    @media only screen and (min-width: 64em)
                        font-size: 23px
                    /* Largest devices such as desktops (1280px and up) */
                    @media only screen and (min-width: 80em)
                        font-size: 26px